__pycache__
.vscode
venv
config.py
uwsgi
logs
.git
!!ТЕСТИРОВАНИЕ
!Книжный перекресток
*.sql
\!Книжный перекресток/gopstop2213_in_a_gloomy_wardrobe_in_a_quiet_hall_on_the_shelves_5c44f4b0-9ca2-4058-9929-08421ea758fe.png
\!Книжный перекресток/gopstop2213_in_a_gloomy_wardrobe_in_a_quiet_hall_on_the_shelves_b359cc94-6458-4ab9-a5e3-efedbd91a090.png
\!Книжный перекресток/tables.txt
\!Книжный перекресток/tables.txt
\!Книжный перекресток/Thumbs.db
\!Книжный перекресток/Thumbs.db
\!Книжный перекресток/triggers.txt
\!Книжный перекресток/triggers.txt
\!Книжный перекресток/vw.txt
\!Книжный перекресток/vw.txt
\!Книжный перекресток/Бородин.pptx
\!Книжный перекресток/Бородин.pptx
\!Книжный перекресток/Бэклог.xlsx
\!Книжный перекресток/Бэклог.xlsx
\!Книжный перекресток/Выступление питчинг.docx
\!Книжный перекресток/Выступление питчинг_v1.docx
\!Книжный перекресток/книги.xlsx
\!Книжный перекресток/Сценарии статуса книги.xlsx
\!\!ТЕСТИРОВАНИЕ/Сценарии статуса книги.xlsx
\!\!ТЕСТИРОВАНИЕ/Книги для теста.xlsx
